<<<<<<< HEAD
@media only screen and (min-width: 780px) {
=======
(@media only screen and (min-width: 780px) {
>>>>>>> 57e3e21c8c831176a61666e2b6414d741e33a714
.dashboard {
    position: relative;
    line-height: 140%;
    font-weight: 500;
  }
  .dashboard-parent {
    position: absolute;
    height: 89.36%;
    width: 21.69%;
    top: 10.64%;
    right: 60.97%;
    bottom: 0;
    left: 17.34%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-21xl);
  }
  .wrapper-icon {
    position: relative;
    width: 0.88rem;
    height: 0.88rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-wrapper {
    background-color: var(--ant-design-colour-styles-hitbox);
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .material-symbolssearch-icon {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button {
    position: absolute;
    height: 97.87%;
    width: 36.61%;
    top: 0;
    right: 21.53%;
    bottom: 2.13%;
    left: 41.85%;
    border-radius: var(--br-6xl);
    border: 0.5px solid var(--grey-4);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.4rem var(--padding-mini);
    gap: var(--gap-3xs);
    font-size: var(--small-text-size);
    color: var(--grey-2);
  }
  .memorymessage-icon {
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
  }
  .material-symbolsnotifications-icon,
  .tablersettings-icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    flex-shrink: 0;
  }
  .material-symbolsnotifications-icon {
    cursor: pointer;
  }
  .mask-group-icon {
    position: relative;
    width: 2.88rem;
    height: 2.88rem;
    object-fit: cover;
    cursor: pointer;
  }
  .memorymessage-parent {
    position: absolute;
    height: 97.87%;
    width: 16.94%;
    top: 0;
    right: 0;
    bottom: 2.13%;
    left: 83.06%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .layer-1-icon {
    position: absolute;
    height: 37.15%;
    width: 13.87%;
    top: 31.91%;
    right: 86.13%;
    bottom: 30.94%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
  }
  .header {
    position: absolute;
    top: 2.19rem;
    text-align: center;
  }
  .terms-of-service1 {
    position: absolute;
    top: 11.38rem;
    left: calc(50% - 159px);
    font-size: var(--header-2-size);
    letter-spacing: -0.02em;
  }
  .lorem-ipsum-dolor {
    position: absolute;
    top: 19.31rem;
    left: calc(50% - 620px);
    font-size: var(--subtitle-size);
    font-weight: 500;
    color: var(--grey-3);
    display: inline-block;
    width: 77.5rem;
  }
  .terms-of-service {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 96.88rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--body-text-size);
    color: var(--black);
    font-family: var(--subtitle);
  }
}
@media only screen and (max-width: 600px) {
  .terms-of-service {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .terms-of-service .div {
    background-color: var(--white);
    height: 1642px;
    position: relative;
    width: 430px;
  }
  
  .terms-of-service .group {
    height: 32px;
    left: 24px;
    position: absolute;
    top: 24px;
    width: 382px;
  }

  
  .terms-of-service .frame-435 {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .terms-of-service .asset {
    height: 13px;
    left: 44px;
    position: absolute;
    top: 2px;
    width: 123px;
  }
  
  .terms-of-service .material-symbols-2 {
    height: 32px;
    left: 351px;
    position: absolute;
    top: 0;
    width: 31px;
  }
  
  .terms-of-service .terms-of-service1 {
    color: var(--black);
    font-family: var(--header-3-font-family);
    font-size: var(--header-3-font-size);
    font-style: var(--header-3-font-style);
    font-weight: var(--header-3-font-weight);
    left: 119px;
    letter-spacing: var(--header-3-letter-spacing);
    line-height: var(--header-3-line-height);
    position: absolute;
    text-align: center;
    top: 95px;
    white-space: nowrap;
  }
  
  .terms-of-service .lorem-ipsum-dolor {
    color: var(--grey-3);
    font-family: var(--body-medium-r-font-family);
    font-size: var(--body-medium-r-font-size);
    font-style: var(--body-medium-r-font-style);
    font-weight: var(--body-medium-r-font-weight);
    left: 24px;
    letter-spacing: var(--body-medium-r-letter-spacing);
    line-height: var(--body-medium-r-line-height);
    position: absolute;
    top: 163px;
    width: 382px;
  }
  
  
}
