@media (min-width: 991px) {
.div {
    background-color: var(--White, #fff);
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 43px 80px;
}

.div-2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.div-3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.div-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.img {
    aspect-ratio: 10.12;
    object-fit: contain;
    object-position: center;
    width: 172px;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
}

.div-5 {
    align-self: start;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.div-6 {
    color: var(--Black, #000);
    text-align: center;
    font: 500 16px/140% Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-7 {
    color: var(--Black, #000);
    text-align: center;
    font: 500 16px/140% Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-8 {
    border-radius: 25px;
    border: 0.5px solid var(--Grey-4, #2c2d2c);
    align-self: start;
    display: flex;
    gap: 10px;
    padding: 11px 16px;
}

.img-2 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
}

.div-9 {
    color: var(--Grey-2, #727272);
    text-align: center;
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 500 12px/140% Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-10 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 28px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 32px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.img-5 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 32px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
}

.img-6 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 46px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}

.div-11 {
    align-items: flex-start;
    align-self: start;
    display: flex;
    width: 749px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin: 69px 0 0 50px;
}

.div-12 {
    justify-content: center;
    align-self: stretch;
    display: flex;
    flex-grow: 0;
    flex-basis: 0%;
    flex-direction: column;
    padding: 10px;
}

.div-13 {
    color: #000;
    white-space: nowrap;
    font: 500 16px/140% Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-14 {
    background-color: #000;
    height: 2px;
}

.div-15 {
    color: #000;
    align-self: center;
    margin: auto 0;
    font: 500 16px/140% Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-16 {
    color: #000;
    margin: auto 0;
    font: 500 16px/140% Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-17 {
    color: #000;
    margin: auto 0;
    font: 500 16px/140% Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-18 {
    color: var(--Grey-3, #4a4a4a);
    letter-spacing: -0.48px;
    align-self: center;
    margin-top: 200px;
    white-space: nowrap;
    font: 700 24px Work Sans, sans-serif;
}

.div-19 {
    align-self: stretch;
    display: flex;
    padding-right: 35px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    margin: 369px 20px 0;
}

.img-7 {
    aspect-ratio: 9.42;
    object-fit: contain;
    object-position: center;
    width: 339px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-20 {
    justify-content: space-between;
    align-self: stretch;
    display: flex;
    gap: 2px;
}

.div-21 {
    color: var(--Grey-1, #a2a6a7);
    text-align: center;
    white-space: nowrap;
    align-items: start;
    border-radius: 25px 0px 0px 25px;
    border: 1px solid var(--Black, #000);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    flex-grow: 1;
    justify-content: center;
    padding: 15px 60px 15px 16px;
    font: 500 12px/140% Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-22 {
    color: var(--Hover, #f1f2f2);
    letter-spacing: 0.64px;
    text-transform: uppercase;
    white-space: nowrap;
    justify-content: center;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    background-color: var(--Black, #000);
    flex-grow: 1;
    padding: 14px 15px;
    font: 700 16px Work Sans, sans-serif;
}

.div-23 {
    display: flex;
    width: 651px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    margin: 44px 20px 50px 0;
}

.div-24 {
    color: var(--Black, #000);
    align-self: stretch;
    font: 500 16px/22px Work Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.div-25 {
    align-self: stretch;
    display: flex;
    margin-top: 43px;
    justify-content: space-between;
    gap: 20px;
}

.div-26 {
    color: var(--Black, #000);
    letter-spacing: 0.36px;
    text-transform: uppercase;
    font: 700 12px Work Sans, sans-serif;
}

.div-27 {
    color: var(--Black, #000);
    letter-spacing: 0.36px;
    text-transform: uppercase;
    font: 700 12px Work Sans, sans-serif;
}

.div-28 {
    color: var(--Black, #000);
    letter-spacing: 0.36px;
    text-transform: uppercase;
    font: 700 12px Work Sans, sans-serif;
}

.div-29 {
    color: var(--Black, #000);
    letter-spacing: 0.36px;
    text-transform: uppercase;
    font: 700 12px Work Sans, sans-serif;
}

.div-30 {
    justify-content: center;
    display: flex;
    margin-top: 40px;
    gap: 8px;
}

.img-8 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
}

.div-31 {
    color: var(--Black, #000);
    align-self: center;
    flex-grow: 1;
    white-space: nowrap;
    margin: auto 0;
    font: 500 12px/140% Work Sans, -apple-system, Roboto, Helvetica,
        sans-serif;
}
}
@media (max-width: 991px) {
    .notif-div {
        background-color: #fff;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 24px 23px 50px;
        box-sizing: border-box;
      }
      .notif-div-2 {
        align-self: stretch;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 0 1px;
      }
      .notif-div-3 {
        display: flex;
        gap: 19px;
        margin: auto 0;
      }
      .notif-div-4 {
        display: flex;
        flex-basis: 0%;
        padding-top: 7px;
        flex-direction: column;
      }
      .notif-div-5 {
        background-color: #000;
        height: 1px;
      }
      .notif-div-6 {
        background-color: #000;
        margin-top: 7px;
        height: 1px;
      }
      .img {
        aspect-ratio: 10.25;
        object-fit: contain;
        object-position: center;
        width: 123px;
        overflow: hidden;
        align-self: center;
        max-width: 100%;
        margin: auto 0;
      }
      .img-2 {
        aspect-ratio: 0.97;
        object-fit: contain;
        object-position: center;
        width: 31px;
        overflow: hidden;
        align-self: stretch;
        max-width: 100%;
      }
      .notif-div-7 {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        margin-top: 40px;
        gap: 12px;
      }
      .notif-div-8 {
        justify-content: center;
        align-self: stretch;
        display: flex;
        flex-grow: 1;
        flex-basis: 0%;
        flex-direction: column;
        padding: 10px;
      }
      .notif-div-9 {
        color: #000;
        white-space: nowrap;
        font: 500 12px/140% Work Sans, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      .notif-div-10 {
        background-color: #000;
        height: 2px;
      }
      .notif-div-11 {
        color: #000;
        align-self: center;
        margin: auto 0;
        font: 500 12px/140% Work Sans, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      .notif-div-12 {
        color: #000;
        align-self: center;
        margin: auto 0;
        font: 500 12px/140% Work Sans, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      .notif-div-13 {
        color: #000;
        align-self: center;
        flex-grow: 1;
        white-space: nowrap;
        margin: auto 0;
        font: 500 12px/140% Work Sans, -apple-system, Roboto, Helvetica,
          sans-serif;
      }
      .notif-div-14 {
        color: var(--Grey-3, #4a4a4a);
        letter-spacing: -0.48px;
        white-space: nowrap;
        margin: 315px 0 312px;
        font: 700 24px Work Sans, sans-serif;
      }
      .div{
        display: none;
      }
}